.main-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 5em;
}

.main-content > div {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 3em;
}

#claim-button {
    margin-top: 1em;
    font-size: 3em;
}

#leaderboard-button {
    font-size: 3em;
}
