.list-group-item {
  cursor: pointer;
  align-items: center;
}

.list-group-item > .form-check-input {
  margin-right: 1em;
  position: absolute;
}

.list-group-item > .form-check-label {
  margin-left: 2em;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.answers {
  height: 100%;
  overflow: auto;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.game-submit-box {
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
}

.game-container {
  margin-bottom: 250px;
}

#progressbar {
  margin-top: 1em;
}

.question-kind{
  font-style: italic;
  font-size: 0.875em;
  color: var(--bs-body-color);
}
