.list-group-item {
    cursor: pointer;
    display: flex !important;
    align-items: center;
}
.list-group-item > input {
    margin-right: 1em;
    position: absolute;
}

.list-group-item > label {
    margin-left: 2em;
}

.answers {
    height: 100%;
    overflow: auto;
}

.question {
    text-align: center;
    margin: 2em;
}
