<template name="home">
  {{#if appUser}}
    <h1 class="lead">Available Quizzes</h1>
    {{#if quizData.length}}
      <ul class="list-group">
        {{#each quizData}}
          <a data-select-quiz href="#" class="list-group-item d-flex justify-content-between align-items-center {{#if compare selectedQuiz.id '===' id}}active{{/if}}">
            {{compare title '||' id}}
            {{#if language}}
              ({{language}})
            {{/if}}
            <span class="badge bg-dark rounded-pill">{{totalAvailableRewards}} {{tokenTicker}}</span>
          </a>
        {{/each}}

        {{#if haveNextPage}}
          <a href="#" class="list-group-item text-center fw-bold py-2" data-show-more>Show more</a>
        {{/if}}
      </ul>
    {{else}}
      <div class="text-center my-5 py-5">
        {{#if noQuizzesAvailable}}
          <h2 class="lead text-muted">No quizzes available at the moment.<br>Come back later or <a href="{{pathFor 'create'}}">create</a> your own quiz.</h2>
        {{else}}
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#with selectedQuiz}}
      <div class="modal-backdrop fade show"></div>
      <div class="modal fade show" style="display:block">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><a href="{{pathFor 'quiz' quizId=id}}" class="quiz-link"><span>{{title}}</span></a></h5>
              <a href="{{pathFor 'leaderboard' quizId=_id}}">
                <span class="badge rounded-pill bg-info ms-lg-3">Quiz stats</span>
              </a>
              <a href="{{pathFor 'referrals' quizId=_id}}">
                <span class="badge rounded-pill bg-info ms-lg-3">Referrals</span>
              </a>
              <button data-deselect-quiz type="button" class="btn-close" aria-label="Close"></button>
            </div>

            <div class="modal-body bg-light border-top">
              <div class="border-bottom">

                  {{#if language}}
                    <div>
                      Language: {{language}}.
                    </div>
                  {{/if}}

                  {{#if owner_id}}
                    <div>
                      <div class="near-social-profile d-inline-block position-relative overflow-hidden">
                        Author:
                        {{#if image}}
                        <div class="near-social-profile-image">
                          <img src="{{image}}" alt="{{player_id}}">
                        </div>
                        {{/if}}
                        <span>
                              {{#if name}}
                                  <a href="//{{owner_id}}.social" target="_blank" rel="noopener nofollow">
                                      {{name}} <span class="text-muted">@{{owner_id}}</span>
                                  </a>
                              {{else}}
                                  {{owner_id}}
                              {{/if}}
                          </span>
                      </div>
                    </div>
                  {{/if}}


                <div>
                  <p>{{{descriptionHtml}}}</p>
                </div>
              </div>

              {{#if compare status '===' 'InProgress' }}
                <div class="mt-2">Be the first of {{totalPrizesQty}} participants to answer correctly all questions to win stake of
                  {{totalAvailableRewards}} {{tokenTicker}}.</div>
                <hr />
                <div class="mt-2 d-flex justify-content-between align-items-center">
                  <div class="flex-column flex-grow-0">Invite friends:</div>
                  <div class="flex-column flex-grow-1 ms-2">
                    <input type="text" value="{{domain}}{{pathFor 'quiz' quizId=_id}}/?r={{appUser.accountId}}" style="width: 100%">
                  </div>
                </div>
              {{else}}
                {{#if compare status '===' 'Finished' }}
                <div class="mt-2">Quiz is finished, total distributed rewards: {{totalDistributedRewards}} {{tokenTicker}}. You may play just for fun.</div>
                {{/if}}
              {{/if}}
            </div>

            <div class="modal-footer">
                <a data-start-quiz href="#" class="btn btn-lg btn-success {{#if isJoining}}disabled{{/if}}"
                   disabled="{{#if isJoining}}disabled{{/if}}">
                  {{#if isJoining}}
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                  {{else}}
                    {{#if compare status '===' 'InProgress' }}
                      Start
                    {{else}}
                      Play
                    {{/if}}
                  {{/if}}
                </a>
            </div>
          </div>
        </div>
      </div>
    {{/with}}
  {{else}}
    <h1 class="lead">Be the first to pass the quiz and earn free crypto!</h1>

    <img src="/images/img-login.svg" class="img-fluid my-5" alt="Quiz Chain: Answer correctly to win crypto!">

    <div class="card-body bg-light p-4 text-center my-3">
      {{#if isLoggingIn}}
        <button type="button" class="btn btn-primary disabled" disabled="disabled">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          <br>
          Signing in securely...
        </button>
      {{else}}
        <div class="d-grid gap-2 pb-2">
          <button type="button" class="btn btn-primary btn-lg" data-login>Login with NEAR wallet</button>
          or
        </div>
        <a class="btn btn-secondary text-dark fw-bold" href="https://wallet.near.org/create" title="Sign Up to NEAR wallet" target="_blank" rel="noopener nofollow">create account for free</a>
      {{/if}}
    </div>
  {{/if}}

  <footer class="py-4 mt-5 border-top text-center fw-bold">
    Powered by <a href="https://near.org/" title="NEAR Protocol" target="_blank" rel="noopener nofollow">NEAR Blockchain</a>
  </footer>
</template>
