<template name="home">
    <div class="home-container">

        {{#if showHelpText}}
            <div class="cta-container">
                <h5>Choose preferred quiz by tapping on one of them.</h5>
            </div>
        {{/if}}

        <div class="quiz-list">
            <h5>AVAILABLE QUIZES</h5>
            <ul class="list-group">
                {{#each dummyData}}
                    <li class="list-group-item d-flex justify-content-between align-items-center quiz-row {{activeClass this}}" id={{this._id}}>
                        {{this.name}}
                        <span class="badge bg-dark rounded-pill">{{this.reward}}</span>
                    </li>
                {{/each}}

                {{#if showMoreButton}}
                    <li class="list-group-item d-flex justify-content-between align-items-center" id='show-more'>
                        <a href="#">Show more</a>
                    </li>
                {{/if}}
            </ul>
        </div>

        {{#unless isLoggedIn}}
            <div class="login-container">
                <button type="button" class="btn btn-dark" id="login-button">Login with NEAR wallet</button>
                <a href="#">Or create account for free</a>
            </div>
        {{/unless}}

        {{#if selectedQuiz}}
            <div class="quiz-about-container rounded">
                <h3>{{selectedQuiz.name}}</h3>
                <h4>{{selectedQuiz.cta}}</h4>
                <br/>
                <div class="buttons d-grid gap-2">
                    <button type="button" class="btn btn-lg btn-dark" id="join-button">Join</button>
                    <button type="button" class="btn btn-lg btn-dark" id="stats-button">Stats</button>
                </div>
            </div>
        {{/if}}
    </div>
</template>
