<template name="leaderboard">
    {{#if isLoading}}
    <div class="text-center my-5 py-5">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    {{else}}
    {{#with quiz}}
    <h1 class="lead text-start py-0">{{title}}</h1>
    <h6>Users with the total number of answers, <strong>including incorrect ones</strong></h6>
    {{/with}}

    <ul class="list-group">
        {{#each stats}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="username-id row">
                <div class="near-social-profile d-inline-block position-relative overflow-hidden">
                    {{#if image}}
                    <div class="near-social-profile-image">
                        <img src="{{image}}" alt="{{player_id}}">
                    </div>
                    {{/if}}
                    <span>
                        {{#if name}}
                            <a href="//{{player_id}}.social" target="_blank" rel="noopener nofollow">
                                {{name}} <span class="text-muted">@{{player_id}}</span>
                            </a>
                        {{else}}
                            {{player_id}}
                        {{/if}}
                    </span>
                </div>
            </div>
            {{#if reward}}
            <div class="badge-container me-2 ms-auto">
                <span class="badge bg-success rounded-pill" title="{{claimed}}">Reward {{reward}}</span>
            </div>
            {{/if}}
            <div class="badge-container">
            <span class="badge bg-dark rounded-pill" title="{{answer_time}}">
               {{#if delayed}}
                {{#if needs_more_answers}}
                  Pending {{answers_quantity}}/{{quiz.questions.length}}
                {{else}}
                  Pending
                {{/if}}
               {{else}}
                {{answers_quantity}}/{{quiz.questions.length}}
               {{/if}}
            </span>
            </div>
        </li>
        {{else}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            No stats available
        </li>
        {{/each}}
    </ul>

    {{/if}}
</template>
