.form-label {
    margin-bottom: 0.5rem;
    font-weight: 800;
}

.question-box {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-color: #ececec;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.3rem;
}

.add-reward {
    display: flex;
    align-items: center;
}

.add-reward span{
    padding-right: 0.5rem;
}

.remove-reward{
    color: #FFF !important;
}
