.quiz-link  {
    color: #1c1f23;
}

.quiz-link{
    text-decoration: none;
}

.quiz-link:hover{
    text-decoration: underline;
}

.username-id-block{
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.username-id-text{
display: inline;
white-space: nowrap;
}
