.header-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2em;
}

.footer-container {
    text-align: center;
    margin: 2em;
}

.cta-container {
    text-align: center;
    margin-top: 5em;
}

.user-area {
    position: absolute;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
}

.user-area > a {
    font-size: 3rem;
}

.list-group {
    margin: 2em;
}

.list-group > li {
    background-color: #808080;
}

.list-group-item.active {
    background-color: #454444 !important;
    border-color: #454444 !important;
    color: white;
}

.quiz-data {
    text-align: center;
}

