.header-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2em;
}

.footer-container {
    text-align: center;
    margin: 2em;
}

.cta-container {
    text-align: center;
    margin-top: 5em;
}

.user-area {
    position: absolute;
    right: 0;
    margin-top: 2em;
    margin-right: 3em;
}

.user-area > i {
    font-size: 3rem;
}
