<template name="referrals">
  {{#if isLoading}}
    <div class="text-center my-5 py-5">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  {{else}}
    {{#with quiz}}
      <h1 class="lead text-start py-0">{{title}}</h1>
      <h6>Users by their affiliates</h6>
    {{/with}}

    <ul class="list-group">
      {{#each referrals}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="username-id">{{account_id}}</div>
          <div class="badge-container">
            <span class="badge bg-dark rounded-pill">{{affiliates}}</span>
          </div>
        </li>
      {{else}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          No stats available
        </li>
      {{/each}}
    </ul>

  {{/if}}
</template>
